* {
    margin: 0;
    padding: 0;
   
  }
html, body{
    height: 672px;
    background: linear-gradient(to bottom right, red, blue); 
}
#start{
    display: inline-block;
    width: 300px;
    height: 100px;
    background-color: rgba(168, 61, 174, 0.57);
    border: 5px solid black;
    border-radius: 10px;
    margin: 162px 0 0 532px;
    text-align: center;
}
#who-turn{
    border: 1px solid black;
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    background: purple; 
    border-radius: 10px;
    margin: 20px 0 0 464px;
}
#winner{
    height: 672px;
    width:  100%;
    position: absolute;
    z-index: 10 !important;
    background-image: url("../imgs/end/confet.gif");
    margin: 0 auto;
    display: none;
}
#winning-color{
    margin: 20px 0 0 500px;
    width: 200px;
    height: 100px;
    background: white;
    border: 5px solid black;
    text-align: center;
    border-radius: 10px;
}
#buttonRefresh{
    background-color: rgb(75, 30, 91); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 10.8px 0 0 53   0px;
}
#buttonRefresh:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#buttonRefresher{
    position: absolute;
    vertical-align: right;
    background-color: rgb(75, 30, 91); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 0 auto;
}
#buttonRefresher:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#start-button{
    background-color: rgb(75, 30, 91); /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#start-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#name{
    margin: 20px 0 0 0;
}
#game {
    z-index: 3;
    /* position:absolute; */
    bottom:0;
    display:none;
    /* height: ; */
    width: 1104.4px;
    height: 632px;
    background-image: url("../imgs/game.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 21.6px 0 0 108px;
    position: relative;
}
#red-score, #blue-score{
    display: none;
    position: absolute;
}
#blue-score{
    bottom:0;
    margin: 0 0 54px 54px;
    vertical-align: top;
    float: right;
}
#red-score{
    margin: 20px 0 0 0;
}
#red, #blue{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
}
#red{
    color: rgb(80, 3, 3);
}
#blue{
    color:rgb(1, 1, 95); 
}
#red-board, #blue-board{
    display: inline-block;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: white;
}



.card {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
  }
  
  .card .front, .card .back {
    /* padding: 10px; */
    text-align: center;
    /* border: 1px #333 solid; */
  }
  
  .card .front {
    background-color: #eee;
  }
  
  .card .back {
    background-color: #333;
    color: white;
  }

#background{
    display: none;
    width: 1080px;
    z-index: 1;
}
.er3, .er6, .er12 {
    z-index: 5;
    display: inline-block;
    vertical-align: top;
    vertical-align: right;
}
.er3{
    width: 181.95px;
    height: auto;
    margin: 30px 30px 50px 30px;
}
.er6{
    width: 161.95px;
    height: auto;
    margin: 15px 0 20px 10px;
    display: inline-block;
    vertical-align: top;
}

.er12{
    width: 120px;
    height: auto;
    margin: 10px 0 0px 10px;
}
img{
    vertical-align: top;
}
.er3 .front, .er3 .back{
    /* vertical-align: bottom; */
    /* padding: 40px 0 0 0; */
    width: 100%;
    height: 100%;
    margin: 10px 50px;
    font-size: 22px;
    
}

.er6 .front, .er6 .back{
    /* padding: 10px 0 0 0; */
    width: 70%;
    height: 70%;
    margin: 10px 50px;
    font-size: 22px;
    /* margin: 0 50px 0 0 ; */
}

.er12 .front, .er12 .back{
    padding: 40px 0 0 0;
    width: 100%;
    height: 100%;
    margin: 2px 50px;
}
#cards3{
    margin: 8.5%  0 0 13.5%;
}
#cards6{
    margin: 3.5%  0 0 13.5%;
}
#cards12{
    margin: 0.5%  0 0 11.5%;
}
.front{
    display: inline-block;
    vertical-align: top;

}
